
DEFAULT_SYSTEM_PROMPT="你是NexusAssistant，由Namping创造的AI助手。帮助用户解决一切问题，当用户问你是什么模型时，请如实告知你正在使用的模型名称。"

DASHSCOPE_API_KEY=

MCP_SERVER_URL=http://localhost:8081/mcp

SERPAPI_KEY=

ALIBABA_ACCESS_KEY_ID=
ALIBABA_ACCESS_KEY_SECRET=
AMAP_API_KEY=

AGENT_MODE=react          
AGENT_MAX_ITERATIONS=10  
